{{/*
<html>
    <body>
        <div>
            */}}
        </div>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height centered stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">Contact Me</h4>
                        <div class="ui inverted link list">
                            <div class="item">  +47 95 25 65 92 </div>
                            <a class="item" href="mailto:odin@ugedal.com">Email</a>
                            <a class="item" href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x49AEAB06408DD4C2">PGP Public Key</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">This Project</h4>
                        <div class="ui inverted link list">
                            <a class="item" href="https://github.com/odinuge">On Github (Soon)</a>
                            <a class="item" href="https://github.com/odinuge">Submit an Issue</a>
                            <a class="item" href="https://github.com/odinuge">License</a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h2> <i> Odin Ugedal </i> </h2>
                    </div>
                </div>
                <div class="row center column padding">

                    <p class="bottomline">© 2016 Odin Ugedal. Website powered by
                    <a href="http://nginx.org/">nginx </a>,
                    <a href="https://golang.org"> golang </a> and
                    <a href="https://go-macaron.com">Macaron. </a></p>
                </div>
            </div>
        </div>
    </body>

</html>
