<div class="following bar">
    <div class="ui container">
        <div class="ui inverted secondary menu visible">
            <div class="item">Odin Ugedal</div>
            <div class="right menu">
                <a href="/" class="item active">Home</a>
                <a href="https://gogs.odinugedal.no/odin/" class="item">Gogs</a>
                <a href="/login/" class="item">Login</a>
            </div>
        </div>
    </div>
    <script>
$('.ui.dropdown').dropdown();
    </script>
</div>

