{{template "base/header" .}}
<div class="main_content">
    <div class="ui inverted vertical masthead center aligned segment">
        {{template "base/headerbar" .}}
        <div class="ui container intro">
            <h1 class="title"> Odin Ugedal </h1>
            <h2> Meet me on: </h2>
            <div class="ui four column centered stackable grid">
                <div class="column">
                    <a class="ui element huge blue button" href="https://github.com/odinuge/"><i class="github icon"></i> Github </a>
                </div>
                <div class="column">
                    <a class="ui element huge blue button" href="https://no.linkedin.com/in/odin-ugedal-95a098123"><i class="linkedin icon"></i> LinkedIn </a>
                </div>
                <div class="column">
                    <a class="ui element huge blue button" href="https://www.facebook.com/odinuge"><i class="facebook icon"></i> Facebook </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable four column centered grid container">
            <div class="column">
                <h3 class="ui header">
                    <i class="coffee icon"></i> Coffee
                </h3>
                <p> Big fan of 1,3,7-Trimethylpurine-2,6-dione! (aka. caffeine) </p>
            </div>
            <div class="column">
                <h3 class="ui header">
                    <i class="laptop icon"></i> Hardware
                </h3>
                <p> I run
                    <a href="https://archlinux.org"> Arch Linux </a>. Owner of a Dell XPS-13 .</p>
            </div>
            <div class="column">
                <h3 class="ui header">
                    <i class="file text outline icon"></i> Programming
                </h3>
                <p> I write code. In 
                <a href="https://neovim.io/"> vim</a>. Everything between
                <a href="https://golang.org/"> golang  </a> and
                <a href="https://www.gnu.org/software/bash/"> bash </a>, including
                <a href="https://www.python.org/"> python </a> and
                <a href="http://www.gnu.org/software/gawk/"> awk</a>. </p>
            </div>
            <div class="column">
                <h3 class="ui header">
                    <i class="code icon"></i> Open-source
                </h3>
                <p> Open-source enthusiast! </p>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <h1 class="ui center aligned header">About me</h1>
        <div class="ui aligned centered stackable three column grid container">
            <div class="column">
                <h3 class="ui header">
                    <i class="info icon"></i> Me
                </h3>
                <p>20 years old student, living in Trondheim.</p>
            </div>
            <div class="column">
                <h3 class="ui header">
                    <i class="lab icon"></i> Science
                </h3>
                <p> Interested in all kinds of science, mostly mathematics, electronics and physics. </p>
            </div>
            <div class="column">
                <h3 class="ui header">
                    <i class="student icon"></i> Education
                </h3>
                <p>Studying computer science at The Norwegian University of Science and Technology.</p>
            </div>
        </div>
    </div>
</div>
<script src="/js/main.js"> </script>
{{template "base/footer" .}}
